.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}
.content-container {
  height: 100px;
  width: 100px;
}

.gallery-list {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  justify-content: center;
}
